services:
  db:
    image: postgres:latest
    container_name: school_dashboard_db
    restart: always
    environment:
      POSTGRES_DB: school_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "$$m8.Z&81Tr$$B"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    network_mode: "host"
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d school_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  memcached:
    image: memcached:latest
    container_name: school_dashboard_memcached
    ports:
      - "11211:11211"
    command: [
        "-m", "64",             # Memory limit
        "-c", "1024",           # Max simultaneous connections
        "-I", "4m",             # Max item size (4MB)
        "-t", "4"               # Number of threads
    ]
    network_mode: "host"

  dashboard:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: school_dashboard
    command: python manage.py runserver 0.0.0.0:8080
    volumes:
      - .:/app
      - ./logs:/app/logs
      - ./media:/app/media
    ports:
      - "5000:8080"
    depends_on:
      db:
        condition: service_healthy
      memcached:
        condition: service_started
    env_file:
      - .env
    environment:
      DATABASE_URL: "postgres://postgres:$$m8.Z&81Tr$$B@localhost:5432/school_db"
      MEMCACHED_HOST: localhost
      MEMCACHED_PORT: 11211
      DJANGO_SETTINGS_MODULE: leaf_school.settings
      DJANGO_DEBUG: 1
      DJANGO_ENVIRONMENT: development
    network_mode: "host"

volumes:
  postgres_data:



